form-slack/form-slack.json
{
  "name": "Form and Slack test",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Request an installation",
        "formDescription": "Fill out this form..",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email address",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred install date",
              "fieldType": "date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -496,
        32
      ],
      "id": "a16ecf27-27a1-4fa1-a785-d9e9bba35790",
      "name": "On form submission",
      "webhookId": "80387411-6087-4054-a664-074ed2ac6a66"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb7be4dc-231a-4dbf-a420-e08b14cab85a",
              "leftValue": "={{ $json['Preferred install date'].toDateTime() }}",
              "rightValue": "={{ $now.plus(7, \"day\") }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        32
      ],
      "id": "d5326914-c5e5-4850-bada-a028b88e88d4",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09K8QABFCK",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "text": "=New install request (within 7 days).\nContact email: {{ $json['Email address'] }}\nPreferred install date: {{ $json['Preferred install date'] }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -80,
        -64
      ],
      "id": "685066d8-8c2b-4b15-a1b4-3fa76b4f7ce6",
      "name": "Send a message",
      "webhookId": "9997d23b-86d9-490d-878b-63cb8441ada1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "E0dMtzF836Xf0ESA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -80,
        96
      ],
      "id": "dfaa2738-71ae-4686-b27b-8e9bcd391a47",
      "name": "todo"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Email address": "aleksfrontend@gmail.com",
          "Preferred install date": "2025-10-10",
          "submittedAt": "2025-10-08T10:53:37.930-04:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "646bc188-a2c3-4085-b6ff-58148e7e871a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36bfcd67d2090e32fe4f2cec47f4e012806399e0b9a3d25452e86ccf6fbd30f7"
  },
  "id": "Dv1nrESfWu1K9It1",
  "tags": []
}